@inject IAuthService AuthService

@inherits LayoutComponentBase

<div class="nh-auth-layout">
    @Body
</div>

<style>
    .nh-auth-layout {
        min-height: 100vh;
        background: var(--color-bg-primary);
    }
</style>
